<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/map']">MAP</a>
    
  </li>
  <li class="nav-item">
    
    <a class="nav-link active" [routerLink]="['/festivals']">FESTIVALS</a>
   
  </li>
  <li class="nav-item"> 
    <a class="nav-link" href="http://live-events.shop/boutique/">RESERVEZ ICI</a>
   
  </li>

  <li class="nav-item">
    
    <a class="nav-link active" [routerLink]="['/partenaires']">PARTENAIRES</a>
   
  </li>

  <li class="nav-item">
    
    <a class="nav-link active" [routerLink]="['/contact']">CONTACT</a>
   
  </li>
  
</ul>

