<div class="titre-section">
    Restons en contact ! <i class="fas fa-id-card-alt"></i>
</div>

<form action="">
    <div class="formulaire">
        <input type="text" placeholder="Votre nom de famille"><br>
        <input type="text" placeholder="Votre prénom"><br>
        <input type="email" placeholder="Votre adresse email"><br>
        <input type="tel" placeholder="Votre numéro de téléphone"><br>
        <input type="text" placeholder="Sujet"><br>
        <textarea class="message" placeholder="Votre message"></textarea>
        <input type="submit" value="Envoyer le message">
    </div>
</form>

-