<header>
    <img src="../assets/people-festival-refaite.png" alt="image header">
  </header>
  
  <div class="multibuttons">
    <div class="ticket">
      <a href="https://live-events.shop/boutique/">
        <i class="fas fa-ticket-alt"></i><br>
        Acheter un ticket
      </a>
    </div>
  
    <div class="liste-concerts">
      <a class="nav-link active" [routerLink]="['/festivals']">
        <i class="fas fa-music"></i> <br>
        Liste des concerts
      </a>
      
    </div>
  
    <div class="temperature">
      <i class="fas fa-thermometer-quarter"></i> <br>
      <app-temperature></app-temperature>
    </div>
  </div>
 
  <div class="infos">
    <h2>INFOS IMPORTANTES</h2>
  </div>
  
<app-navbar></app-navbar>


<footer>

    <div class="section-menu-footer">
      <div class="home">
        <a class="nav-link active" [routerLink]="['/festivals']">
          <i class="fas fa-home"></i>
        </a>
      </div>
  
      <div class="carte">
        <a class="nav-link active" [routerLink]="['/map']">
          <i class="fas fa-map-marker-alt"></i>
        </a>
      </div>
  
      <div class="shop">
        <a href="https://live-events.shop/boutique/">
          <i class="fas fa-shopping-cart"></i>
        </a>
      </div>
  
      <div class="partenaires">
        <a class="nav-link active" [routerLink]="['/partenaires']">
          <i class="fas fa-handshake"></i>
        </a>
      </div>
  
      <div class="contact">
        <a class="nav-link active" [routerLink]="['/contact']">
          <i class="fas fa-envelope"></i>
        </a>  
      </div>
    </div>
  </footer>

<router-outlet></router-outlet>
