<div class="titre-section">
    Nos partenaires
</div>

<div class="partenaire">
    <div class="partenaire-logo">
        <img src="../../assets/sheer.png" alt="Logo cyborg">
    </div>
    <div class="partenaire-content">
        <div class="partenaire-nom">
            Sheer
        </div>
        <div class="partenaire-description">
            Créateur et moteur de l'événement "Nation Sound Festival", 
            création d'application et de sites e-commerce
        </div>
        <div class="partenaire-social">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</div>

<div class="partenaire">
    <div class="partenaire-logo">
        <img src="../../assets/cyborg.png" alt="Logo cyborg">
    </div>
    <div class="partenaire-content">
        <div class="partenaire-nom">
            CY-borg
        </div>
        <div class="partenaire-description">
            Entreprise d'informatique, création de sites internet, logo, 
            applications mobiles...
        </div>
        <div class="partenaire-social">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</div>

<div class="partenaire">
    <div class="partenaire-logo">
        <img src="../../assets/webevents.png" alt="Logo cyborg">
    </div>
    <div class="partenaire-content">
        <div class="partenaire-nom">
            webevents
        </div>
        <div class="partenaire-description">
            Entreprise d'informatique, création d'événements, développement
            de projets et création de contenu...
        </div>
        <div class="partenaire-social">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</div>

<br><br><br><br>
